In [552]:
# Import basic libraries
import numpy as np
import pandas as pd

In [553]:
# import both the datasets for this 
movies_data = pd.read_csv("../Datasets/Prj-MovieRecommender/tmdb_5000_movies.csv")
credits = pd.read_csv("../Datasets/Prj-MovieRecommender/tmdb_5000_credits.csv")

In [554]:
movies_data.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [555]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [556]:
# try reading 'genres' to find names for it...A test
import json
recs = movies_data.head(2)
genre = json.loads(recs['genres'][0])
for gen in genre:
    print(gen['name'])

Action
Adventure
Fantasy
Science Fiction

In [557]:
# try reading 'casts' to find characters and artist for it
# ...A test
casts = credits.head(1)['cast'][0]
cast = json.loads(casts)
for ca in cast:
    print('Character  : ', ca['character'])
    print('Played by  : ', ca['name'], '\n')

Character  :  Jake Sully
Played by  :  Sam Worthington

Character  :  Neytiri
Played by  :  Zoe Saldana

Character  :  Dr. Grace Augustine
Played by  :  Sigourney Weaver

Character  :  Col. Quaritch
Played by  :  Stephen Lang

Character  :  Trudy Chacon
Played by  :  Michelle Rodriguez

Character  :  Selfridge
Played by  :  Giovanni Ribisi

Character  :  Norm Spellman
Played by  :  Joel David Moore

Character  :  Moat
Played by  :  CCH Pounder

Character  :  Eytukan
Played by  :  Wes Studi

Character  :  Tsu'Tey
Played by  :  Laz Alonso

Character  :  Dr. Max Patel
Played by  :  Dileep Rao

Character  :  Lyle Wainfleet
Played by  :  Matt Gerald

Character  :  Private Fike
Played by  :  Sean Anthony Moran

Character  :  Cryo Vault Med Tech
Played by  :  Jason Whyte

Character  :  Venture Star Crew Chief
Played by  :  Scott Lawrence

Character  :  Lock Up Trooper
Played by  :  Kelly Kilgour

Character  :  Shuttle Pilot
Played by  :  James Patrick Pitt

Character  :  Shuttle Co-Pilot
Played by  :  Sean Patrick Murphy

Character  :  Shuttle Crew Chief
Played by  :  Peter Dillon

Character  :  Tractor Operator / Troupe
Played by  :  Kevin Dorman

Character  :  Dragon Gunship Pilot
Played by  :  Kelson Henderson

Character  :  Dragon Gunship Gunner
Played by  :  David Van Horn

Character  :  Dragon Gunship Navigator
Played by  :  Jacob Tomuri

Character  :  Suit #1
Played by  :  Michael Blain-Rozgay

Character  :  Suit #2
Played by  :  Jon Curry

Character  :  Ambient Room Tech
Played by  :  Luke Hawker

Character  :  Ambient Room Tech / Troupe
Played by  :  Woody Schultz

Character  :  Horse Clan Leader
Played by  :  Peter Mensah

Character  :  Link Room Tech
Played by  :  Sonia Yee

Character  :  Basketball Avatar / Troupe
Played by  :  Jahnel Curfman

Character  :  Basketball Avatar
Played by  :  Ilram Choi

Character  :  Na'vi Child
Played by  :  Kyla Warren

Character  :  Troupe
Played by  :  Lisa Roumain

Character  :  Troupe
Played by  :  Debra Wilson

Character  :  Troupe
Played by  :  Chris Mala

Character  :  Troupe
Played by  :  Taylor Kibby

Character  :  Troupe
Played by  :  Jodie Landau

Character  :  Troupe
Played by  :  Julie Lamm

Character  :  Troupe
Played by  :  Cullen B. Madden

Character  :  Troupe
Played by  :  Joseph Brady Madden

Character  :  Troupe
Played by  :  Frankie Torres

Character  :  Troupe
Played by  :  Austin Wilson

Character  :  Troupe
Played by  :  Sara Wilson

Character  :  Troupe
Played by  :  Tamica Washington-Miller

Character  :  Op Center Staff
Played by  :  Lucy Briant

Character  :  Op Center Staff
Played by  :  Nathan Meister

Character  :  Op Center Staff
Played by  :  Gerry Blair

Character  :  Op Center Staff
Played by  :  Matthew Chamberlain

Character  :  Op Center Staff
Played by  :  Paul Yates

Character  :  Op Center Duty Officer
Played by  :  Wray Wilson

Character  :  Op Center Staff
Played by  :  James Gaylyn

Character  :  Dancer
Played by  :  Melvin Leno Clark III

Character  :  Dancer
Played by  :  Carvon Futrell

Character  :  Dancer
Played by  :  Brandon Jelkes

Character  :  Dancer
Played by  :  Micah Moch

Character  :  Dancer
Played by  :  Hanniyah Muhammad

Character  :  Dancer
Played by  :  Christopher Nolen

Character  :  Dancer
Played by  :  Christa Oliver

Character  :  Dancer
Played by  :  April Marie Thomas

Character  :  Dancer
Played by  :  Bravita A. Threatt

Character  :  Mining Chief (uncredited)
Played by  :  Colin Bleasdale

Character  :  Veteran Miner (uncredited)
Played by  :  Mike Bodnar

Character  :  Richard (uncredited)
Played by  :  Matt Clayton

Character  :  Nav'i (uncredited)
Played by  :  Nicole Dionne

Character  :  Trooper (uncredited)
Played by  :  Jamie Harrison

Character  :  Trooper (uncredited)
Played by  :  Allan Henry

Character  :  Ground Technician (uncredited)
Played by  :  Anthony Ingruber

Character  :  Flight Crew Mechanic (uncredited)
Played by  :  Ashley Jeffery

Character  :  Samson Pilot
Played by  :  Dean Knowsley

Character  :  Trooper (uncredited)
Played by  :  Joseph Mika-Hunt

Character  :  Banshee (uncredited)
Played by  :  Terry Notary

Character  :  Soldier (uncredited)
Played by  :  Kai Pantano

Character  :  Blast Technician (uncredited)
Played by  :  Logan Pithyou

Character  :  Vindum Raah (uncredited)
Played by  :  Stuart Pollock

Character  :  Hero (uncredited)
Played by  :  Raja

Character  :  Ops Centreworker (uncredited)
Played by  :  Gareth Ruck

Character  :  Engineer (uncredited)
Played by  :  Rhian Sheehan

Character  :  Col. Quaritch's Mech Suit (uncredited)
Played by  :  T. J. Storm

Character  :  Female Marine (uncredited)
Played by  :  Jodie Taylor

Character  :  Ikran Clan Leader (uncredited)
Played by  :  Alicia Vela-Bailey

Character  :  Geologist (uncredited)
Played by  :  Richard Whiteside

Character  :  Na'vi (uncredited)
Played by  :  Nikie Zambo

Character  :  Ambient Room Tech / Troupe
Played by  :  Julene Renee

In [558]:
# try reading 'crew' to find department, job and the name of the person doing the job
# ...A test
crews = credits.head(1)['crew'][0]
crew = json.loads(crews)
for ca in crew:
    print('\nDepartment :', ca['department'] )
    print( 'Job        :', ca['job'])
    print( 'Name       :', ca['name'])

Department : Editing
Job        : Editor
Name       : Stephen E. Rivkin

Department : Art
Job        : Production Design
Name       : Rick Carter

Department : Sound
Job        : Sound Designer
Name       : Christopher Boyes

Department : Sound
Job        : Supervising Sound Editor
Name       : Christopher Boyes

Department : Production
Job        : Casting
Name       : Mali Finn

Department : Sound
Job        : Original Music Composer
Name       : James Horner

Department : Directing
Job        : Director
Name       : James Cameron

Department : Writing
Job        : Writer
Name       : James Cameron

Department : Editing
Job        : Editor
Name       : James Cameron

Department : Production
Job        : Producer
Name       : James Cameron

Department : Writing
Job        : Screenplay
Name       : James Cameron

Department : Art
Job        : Art Direction
Name       : Andrew Menzies

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Jill Brooks

Department : Production
Job        : Casting
Name       : Margery Simkin

Department : Art
Job        : Supervising Art Director
Name       : Kevin Ishioka

Department : Sound
Job        : Music Editor
Name       : Dick Bernstein

Department : Sound
Job        : Sound Effects Editor
Name       : Shannon Mills

Department : Sound
Job        : Foley
Name       : Dennie Thorpe

Department : Sound
Job        : Foley
Name       : Jana Vance

Department : Costume & Make-Up
Job        : Costume Design
Name       : Deborah Lynn Scott

Department : Production
Job        : Producer
Name       : Jon Landau

Department : Art
Job        : Art Direction
Name       : Sean Haworth

Department : Art
Job        : Set Decoration
Name       : Kim Sinclair

Department : Art
Job        : Supervising Art Director
Name       : Kim Sinclair

Department : Art
Job        : Set Designer
Name       : Richard F. Mays

Department : Production
Job        : Executive Producer
Name       : Laeta Kalogridis

Department : Costume & Make-Up
Job        : Costume Design
Name       : Mayes C. Rubeo

Department : Camera
Job        : Director of Photography
Name       : Mauro Fiore

Department : Art
Job        : Set Designer
Name       : Scott Herbertson

Department : Crew
Job        : Stunts
Name       : Woody Schultz

Department : Costume & Make-Up
Job        : Makeup Artist
Name       : Linda DeVetta

Department : Costume & Make-Up
Job        : Hairstylist
Name       : Linda DeVetta

Department : Camera
Job        : Camera Operator
Name       : Richard Bluck

Department : Art
Job        : Art Direction
Name       : Simon Bright

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Richard Martin

Department : Crew
Job        : Visual Effects Editor
Name       : Steve R. Moore

Department : Editing
Job        : Editor
Name       : John Refoua

Department : Art
Job        : Set Designer
Name       : Karl J. Martin

Department : Camera
Job        : Director of Photography
Name       : Chiling Lin

Department : Crew
Job        : Stunts
Name       : Ilram Choi

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Steven Quale

Department : Crew
Job        : Dialect Coach
Name       : Carla Meyer

Department : Art
Job        : Art Direction
Name       : Nick Bassett

Department : Art
Job        : Art Direction
Name       : Jill Cormack

Department : Art
Job        : Art Direction
Name       : Andy McLaren

Department : Crew
Job        : Motion Capture Artist
Name       : Terry Notary

Department : Crew
Job        : Stunt Coordinator
Name       : Garrett Warren

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Jonathan Rothbart

Department : Art
Job        : Supervising Art Director
Name       : Stefan Dechant

Department : Art
Job        : Supervising Art Director
Name       : Todd Cherniawsky

Department : Production
Job        : Casting
Name       : Miranda Rivers

Department : Art
Job        : Production Design
Name       : Robert Stromberg

Department : Costume & Make-Up
Job        : Costume Design
Name       : John Harding

Department : Camera
Job        : Steadicam Operator
Name       : Roberto De Angelis

Department : Costume & Make-Up
Job        : Makeup Department Head
Name       : Mike Smithson

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Alain Lalanne

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Lucas Salton

Department : Crew
Job        : Post Production Supervisor
Name       : Janace Tashjian

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Stephen Rosenbaum

Department : Costume & Make-Up
Job        : Makeup Artist
Name       : Frankie Karena

Department : Costume & Make-Up
Job        : Costume Supervisor
Name       : Lisa Lovaas

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Jonathan Fawkner

Department : Art
Job        : Art Direction
Name       : Robert Bavin

Department : Costume & Make-Up
Job        : Costume Supervisor
Name       : Anthony Almaraz

Department : Costume & Make-Up
Job        : Costume Supervisor
Name       : Carolyn M. Fenton

Department : Costume & Make-Up
Job        : Costume Supervisor
Name       : Beth Koenigsberg

Department : Art
Job        : Set Designer
Name       : Sam Page

Department : Art
Job        : Set Designer
Name       : Tex Kadonaga

Department : Editing
Job        : Dialogue Editor
Name       : Kim Foscato

Department : Art
Job        : Set Designer
Name       : Tammy S. Lee

Department : Crew
Job        : Transportation Coordinator
Name       : Denny Caira

Department : Crew
Job        : Transportation Coordinator
Name       : James Waitkus

Department : Sound
Job        : Supervising Sound Editor
Name       : Addison Teague

Department : Art
Job        : Set Designer
Name       : C. Scott Baker

Department : Art
Job        : Set Designer
Name       : Luke Caska

Department : Art
Job        : Set Designer
Name       : David Chow

Department : Art
Job        : Set Designer
Name       : Jonathan Dyer

Department : Art
Job        : Set Designer
Name       : Joseph Hiura

Department : Art
Job        : Art Department Coordinator
Name       : Rebecca Jellie

Department : Art
Job        : Set Designer
Name       : Robert Andrew Johnson

Department : Art
Job        : Assistant Art Director
Name       : Mike Stassi

Department : Art
Job        : Construction Coordinator
Name       : John Villarino

Department : Art
Job        : Assistant Art Director
Name       : Jeffrey Wisniewski

Department : Editing
Job        : Dialogue Editor
Name       : Cheryl Nardi

Department : Editing
Job        : Dialogue Editor
Name       : Marshall Winn

Department : Sound
Job        : Supervising Sound Editor
Name       : Gwendolyn Yates Whittle

Department : Sound
Job        : Sound Re-Recording Mixer
Name       : William Stein

Department : Crew
Job        : Choreographer
Name       : Lula Washington

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Chris Del Conte

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : R. Christopher White

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Dan Lemmon

Department : Sound
Job        : Sound Effects Editor
Name       : Tim Nielsen

Department : Crew
Job        : CG Supervisor
Name       : Michael Mulholland

Department : Crew
Job        : Visual Effects Editor
Name       : Thomas Nittmann

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Edson Williams

Department : Editing
Job        : Digital Intermediate
Name       : Christine Carr

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : John Bruno

Department : Camera
Job        : Steadicam Operator
Name       : David Emmerichs

Department : Sound
Job        : Sound Effects Editor
Name       : Christopher Scarabosio

Department : Production
Job        : Production Supervisor
Name       : Jennifer Teves

Department : Production
Job        : Production Manager
Name       : Brigitte Yorke

Department : Sound
Job        : Sound Effects Editor
Name       : Ken Fischer

Department : Crew
Job        : Special Effects Coordinator
Name       : Iain Hutton

Department : Crew
Job        : Special Effects Coordinator
Name       : Steve Ingram

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Joyce Cox

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Jenny Foster

Department : Crew
Job        : Visual Effects Editor
Name       : Christopher Marino

Department : Crew
Job        : Visual Effects Editor
Name       : Jim Milton

Department : Visual Effects
Job        : Visual Effects Producer
Name       : Cyndi Ochs

Department : Crew
Job        : Visual Effects Editor
Name       : Lucas Putnam

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Anthony 'Max' Ivins

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : John Knoll

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Eric Saindon

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Wayne Stables

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : David Stinnett

Department : Visual Effects
Job        : Visual Effects Supervisor
Name       : Guy Williams

Department : Crew
Job        : Stunt Coordinator
Name       : Stuart Thorp

Department : Lighting
Job        : Best Boy Electric
Name       : Giles Coburn

Department : Camera
Job        : Still Photographer
Name       : Mark Fellman

Department : Lighting
Job        : Lighting Technician
Name       : Scott Sprague

Department : Visual Effects
Job        : Animation Director
Name       : Jeremy Hollobon

Department : Visual Effects
Job        : Animation Director
Name       : Orlando Meunier

Department : Visual Effects
Job        : Animation Director
Name       : Taisuke Tanimura

Department : Costume & Make-Up
Job        : Set Costumer
Name       : Lilia Mishel Acevedo

Department : Costume & Make-Up
Job        : Set Costumer
Name       : Alejandro M. Hernandez

Department : Editing
Job        : Digital Intermediate
Name       : Marvin Hall

Department : Production
Job        : Publicist
Name       : Judy Alley

Department : Crew
Job        : CG Supervisor
Name       : Mike Perry

Department : Crew
Job        : CG Supervisor
Name       : Andrew Morley

Department : Art
Job        : Conceptual Design
Name       : Seth Engstrom

Department : Crew
Job        : Visual Effects Art Director
Name       : Eric Oliver

Department : Visual Effects
Job        : Modeling
Name       : Matsune Suzuki

Department : Art
Job        : Art Department Manager
Name       : Paul Tobin

Department : Costume & Make-Up
Job        : Hairstylist
Name       : Roxane Griffin

Department : Lighting
Job        : Lighting Artist
Name       : Arun Ram-Mohan

Department : Costume & Make-Up
Job        : Makeup Artist
Name       : Georgia Lockhart-Adams

Department : Crew
Job        : CG Supervisor
Name       : Thrain Shadbolt

Department : Crew
Job        : CG Supervisor
Name       : Brad Alexander

Department : Crew
Job        : CG Supervisor
Name       : Shadi Almassizadeh

Department : Crew
Job        : CG Supervisor
Name       : Simon Clutterbuck

Department : Crew
Job        : CG Supervisor
Name       : Graeme Demmocks

Department : Crew
Job        : CG Supervisor
Name       : Adrian Fernandes

Department : Crew
Job        : CG Supervisor
Name       : Mitch Gates

Department : Crew
Job        : CG Supervisor
Name       : Jerry Kung

Department : Crew
Job        : CG Supervisor
Name       : Andy Lomas

Department : Crew
Job        : CG Supervisor
Name       : Sebastian Marino

Department : Crew
Job        : CG Supervisor
Name       : Matthias Menz

Department : Crew
Job        : CG Supervisor
Name       : Sergei Nevshupov

Department : Crew
Job        : CG Supervisor
Name       : Philippe Rebours

Department : Crew
Job        : CG Supervisor
Name       : Michael Takarangi

Department : Crew
Job        : CG Supervisor
Name       : David Weitzberg

Department : Crew
Job        : CG Supervisor
Name       : Ben White

Department : Crew
Job        : Stunts
Name       : Min Windle

In [559]:
# check if titles are non-unique. Will use it to merge if they are unique
sum(credits.title.value_counts() > 1)
# oops...!  'title' has duplicacy. Hence I will not use it to merge two data-frames
# A better approiach will be to drop duplicate records. Records having same title

3

In [560]:
# check those cases where 'title' in movies_data is not equal to 'title' in credits
movies_data['title'].value_counts()

The Host                 2
Batman                   2
Out of the Blue          2
Avatar                   1
The Girl on the Train    1
                        ..
Step Up 3D               1
Secondhand Lions         1
The Age of Adaline       1
Drag Me to Hell          1
My Date with Drew        1
Name: title, Length: 4800, dtype: int64

In [561]:
credits['title'].value_counts()

The Host                 2
Batman                   2
Out of the Blue          2
Avatar                   1
The Girl on the Train    1
                        ..
Step Up 3D               1
Secondhand Lions         1
The Age of Adaline       1
Drag Me to Hell          1
My Date with Drew        1
Name: title, Length: 4800, dtype: int64

In [562]:
# Merge two dataframes based on the 'id' and 'movie_id'
df = movies_data.merge(credits, left_on='id', right_on='movie_id')
#df = movies.merge(credits, on='title')
df.shape

# looks good as number of records are not increased or decreased. 
# 'id' and 'movie_id' are same value but I will deal with it during feature selection

(4803, 24)

In [563]:
df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'movie_id', 'title_y', 'cast', 'crew'],
      dtype='object')

In [564]:
# drom 'movie_id' as it is same as 'id'
# drop 'title_y' column and chnage name of the 'title_x' to just 'title'
movies = df.drop(['movie_id', 'title_y'], axis=1)
movies = movies.rename(columns={'title_x': 'title'})
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')

In [565]:
# drop the duplicate records (although they have unique 'id' but everytrhing else is same.)
movies = movies.drop_duplicates(subset=['title'])
movies.shape

(4800, 22)

In [566]:
# check total columns in the data-frame
print("Columns : ", movies.columns)
movies.info()

Columns :  Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4800 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4800 non-null   int64
 1   genres                4800 non-null   object
 2   homepage              1711 non-null   object
 3   id                    4800 non-null   int64
 4   keywords              4800 non-null   object
 5   original_language     4800 non-null   object
 6   original_title        4800 non-null   object
 7   overview              4797 non-null   object
 8   popularity            4800 non-null   float64
 9   production_companies  4800 non-null   object
 10  production_countries  4800 non-null   object
 11  release_date          4799 non-null   object
 12  revenue               4800 non-null   int64
 13  runtime               4798 non-null   float64
 14  spoken_languages      4800 non-null   object
 15  status                4800 non-null   object
 16  tagline               3956 non-null   object
 17  title                 4800 non-null   object
 18  vote_average          4800 non-null   float64
 19  vote_count            4800 non-null   int64
 20  cast                  4800 non-null   object
 21  crew                  4800 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 862.5+ KB

In [567]:
# status of the movie is mostly release. Highly imbalances dataset
# hence will ignore this columns
movies.status.value_counts()

Released           4792
Rumored               5
Post Production       3
Name: status, dtype: int64

<!-- ## Here we are skipping numerical values columns as NLP and text based algorithms are considered
##
##

# columns to keep (these column seems to make sense in decision making)
#
# ['genres'                 : important as it tells the flavour and theme
# 'id' (Ignore-Later)       : Not useful in model training. Will be meaningful in identifying related information later
# 'keywords'                : Tag for the movie. Very important information
# 'overview'                : Will define plot and description keywords. Will be helpful.
# 'title'                   : May not be important but let us keep it.
# 'cast'                    : Very important 
# 'crew'                    : Very imporatant
# ]
#

# Columns to drop as they do not appear to e useful in our deecision making
#
# 'budget' (Later)           : Should be useful but for now ignore it. Budget means resources used in creating a movie. More resources more mature graphics, locations, actors fee, set quality etc
# 'original_language'        : Most of the movies are in english. So let us drop it as it does not contribute to the variability in the dataset
#                              movies[].value_counts() 
# 'original_title'           : it may be in non-english hence cause issues. Will not add much value.
# 'popularity' (Later)       : people do watch mivies by popularity. However it can be ignored in our problem solving approach.
# 'production_companies' (Later): Should be useful but ignore for now
# 'production_countries' (Later): We do care for countries of origin. But not the shooting places. It's ambiguous.
# 'release_date' (Later)     : Time of release does matter
# 'revenue' (Later)          : Revenue earned may be indicator of how many people liked it. Despite individuals choices.
#                              Though it may be meaningless if we want to cater specific class of people. Mobocracy may not work :-) 
# 'runtime'                  : Duration should not matter   
# 'spoken_languages'         : Should not matter
# 'status'                   : status is mostly 'release'. Highly imbalances dataset, hence will ignore this columns.
# 'tagline'                  : tagline does not matte. It may be totally irrelevant. Does not convey reson to cause of liking
# 'vote_average'   (Later)   : Valuabe but numeric       
# 'vote_count'   (Later)     : Valuabe but numeric. will re-evaluate as common people tend to rate very-good and very-bad movies only    
# 'homepage'] -->

In [568]:
## Here we are skipping numerical values columns as NLP and text based algorithms are considered
##
##

# columns to keep (these column seems to make sense in decision making)
#
# ['genres'                 : important as it tells the flavour and theme
# 'id' (Ignore-Later)       : Not useful in model training. Will be meaningful in identifying related information later
# 'keywords'                : Tag for the movie. Very important information
# 'overview'                : Will define plot and description keywords. Will be helpful.
# 'title'                   : May not be important but let us keep it.
# 'cast'                    : Very important 
# 'crew'                    : Very imporatant
# ]
#

# Columns to drop as they do not appear to e useful in our deecision making
#
# 'budget' (Later)           : Should be useful but for now ignore it. Budget means resources used in creating a movie. More resources more mature graphics, locations, actors fee, set quality etc
# 'original_language'        : Most of the movies are in english. So let us drop it as it does not contribute to the variability in the dataset
#                              movies[].value_counts() 
# 'original_title'           : it may be in non-english hence cause issues. Will not add much value.
# 'popularity' (Later)       : people do watch mivies by popularity. However it can be ignored in our problem solving approach.
# 'production_companies' (Later): Should be useful but ignore for now
# 'production_countries' (Later): We do care for countries of origin. But not the shooting places. It's ambiguous.
# 'release_date' (Later)     : Time of release does matter
# 'revenue' (Later)          : Revenue earned may be indicator of how many people liked it. Despite individuals choices.
#                              Though it may be meaningless if we want to cater specific class of people. Mobocracy may not work :-) 
# 'runtime'                  : Duration should not matter   
# 'spoken_languages'         : Should not matter
# 'status'                   : status is mostly 'release'. Highly imbalances dataset, hence will ignore this columns.
# 'tagline'                  : tagline does not matte. It may be totally irrelevant. Does not convey reson to cause of liking
# 'vote_average'   (Later)   : Valuabe but numeric       
# 'vote_count'   (Later)     : Valuabe but numeric. will re-evaluate as common people tend to rate very-good and very-bad movies only    
# 'homepage']

In [569]:
# keep the columns of interest only
movies = movies[['id', 'title', 'overview', 'genres', 'keywords',  'cast', 'crew']]
movies.sample(2)

,id,title,overview,genres,keywords,cast,crew
2101,12153,White Chicks,"Two FBI agent brothers, Marcus and Kevin Copel...","[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 1568, ""name"": ""undercover""}, {""id"": 18...","[{""cast_id"": 17, ""character"": ""Kevin Copeland""...","[{""credit_id"": ""563c842ec3a3681b5c0285e3"", ""de..."
1989,10663,The Waterboy,Bobby Boucher is a water boy for a struggling ...,"[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 6075, ""name"": ""sport""}, {""id"": 171556,...","[{""cast_id"": 1, ""character"": ""Bobby Boucher"", ...","[{""credit_id"": ""52fe439e9251416c750177b1"", ""de..."

In [570]:
# check null values in the dataframe of interest
# Looks like I need to drop 3 records due to overview being null for them 
movies.isnull().sum(axis=0)

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [571]:
# dropped row with missing overview...but thats not required in fact. It has other information which is valuable
movies = movies.dropna(axis=0)
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4797 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4797 non-null   int64
 1   title     4797 non-null   object
 2   overview  4797 non-null   object
 3   genres    4797 non-null   object
 4   keywords  4797 non-null   object
 5   cast      4797 non-null   object
 6   crew      4797 non-null   object
dtypes: int64(1), object(6)
memory usage: 299.8+ KB

In [572]:
# function to read a column from record and return values list based on the keys list
import json
def getvalues(mylist, keys=[]):
    val_list = []
    lst = json.loads(mylist)
    counter = 0
    for elem in lst:
        if counter < 3:
            for key in keys:            
                val_list.append(elem[key])
            counter = counter + 1
        else:
            break
    return val_list

In [573]:
# make generes words into a list and replace in the column
movies['genres'] = movies['genres'].apply(getvalues, keys=['name'])
# make keywords words into a list and replace in the column
movies['keywords'] = movies['keywords'].apply(getvalues, keys=['name'])
# make cast words into a list and replace in the column
movies['cast'] = movies['cast'].apply(getvalues, keys=['name'])

In [574]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy]","[culture clash, future, space war]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island]","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bonds past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent]","[Daniel Craig, Christoph Waltz, La Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama]","[dc comics, crime fighter, terrorist]","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion]","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [575]:
# pick the director name from the crew list
import json
def getdirector(mylist):
    val_list = []
    lst = json.loads(mylist)
    for elem in lst:
        if elem['job'] == 'Director':
            val_list.append(elem['name'])
            break;
    return val_list

In [576]:
movies['crew'] = movies['crew'].apply(getdirector)

In [577]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())

In [578]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy]","[culture clash, future, space war]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island]","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bonds, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent]","[Daniel Craig, Christoph Waltz, La Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama]","[dc comics, crime fighter, terrorist]","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion]","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [590]:
# remove blanks as name should be uniques in entirety
movies['overview'] = movies['overview'].apply(lambda st: [word.replace(" ", "") for word in st])
movies['genres'] = movies['genres'].apply(lambda st: [word.replace(" ", "") for word in st])
movies['keywords'] = movies['keywords'].apply(lambda st: [word.replace(" ", "") for word in st])
movies['cast'] = movies['cast'].apply(lambda st: [word.replace(" ", "") for word in st])
movies['crew'] = movies['crew'].apply(lambda st: [word.replace(" ", "") for word in st])

In [592]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [596]:
movies.drop(['overview', 'genres', 'keywords', 'cast', 'crew'], axis=1, inplace=True)

In [597]:
movies.head()

,id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bonds, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."